on boot
    # DT2W
    chown system system /proc/touchpanel/double_tap_enable

    chmod 0660 /sys/devices/platform/mtk_disp_mgr.0/rgb
    chown system system /sys/devices/platform/mtk_disp_mgr.0/rgb

on init
    setprop sys.usb.configfs 1
    setprop sys.usb.ffs.aio_compat 1

